<div *ngIf="flag">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="card" style="width: 18rem;" *ngFor="let item of productList">
  <img src="{{item.pimg}}" class="card-img-top" alt="..." height="100px" width="100px">
  <div class="card-body">
    <h5 class="card-title">{{item.pname}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
